<head>
    <link rel="stylesheet" type="text/css" href="/css/services.css">
    <style>
      .search-bar {
        margin-bottom: 10px;
        margin-left: 30px;
      }
  
      .rating {
        display: flex;
        align-items: center;
      }
  
      .rating-star {
        color: gold;
      }
  
      .rating-text {
        margin-left: 5px;
      }
    </style>
  </head>
  
  <body>
    <navbar>
        <%- include('partials/header') %>
    </navbar>

    <h1>Services</h1>

    <div class="card-container">
        <div class="search-bar">
            <input type="text" id="primarySearch" placeholder="Search Primary Care" oninput="filterServices('primary')">
        </div>
        <h2>Primary Care</h2>
        <div class="card-slider">
            <% primary.forEach(function(service) { %>
            <% service.Primary_care.forEach(function(primaryCare) { %>
                <div class="card">
                    <h3><%= primaryCare %></h3>
                    <div class="rating">
                      <% for (var i = 1; i <= 5; i++) { %>
                        <% if (service.rating >= i) { %>
                          <span class="rating-star">&#9733;</span>
                        <% } else { %>
                          <span class="rating-star">&#9734;</span>
                        <% } %>
                      <% } %>
                      <span class="rating-text"><%= service.rating %></span>
                    </div>
                    <p><%= service.hospitalId.Name %></p>
                  </div>
            <% }) %>
            <% }) %>
        </div>
    </div>

    <div class="card-container">
        <div class="search-bar">
            <input type="text" id="specialtySearch" placeholder="Search Specialty Care" oninput="filterServices('specialty')">
        </div>
        <h2>Specialty Care</h2>
        <div class="card-row">
            <% specialty.forEach(function(service) { %>
            <% service.Specialty_care.forEach(function(specialty) { %>
                <div class="card">
                    <h3><%= specialty %></h3>
                    <div class="rating">
                      <% for (var i = 1; i <= 5; i++) { %>
                        <% if (service.rating >= i) { %>
                          <span class="rating-star">&#9733;</span>
                        <% } else { %>
                          <span class="rating-star">&#9734;</span>
                        <% } %>
                      <% } %>
                      <span class="rating-text"><%= service.rating %></span>
                    </div>
                    <p><%= service.hospitalId.Name %></p>
                  </div>
            <% }) %>
            <% }) %>
        </div>
    </div>

    <script>
        function redirectToService(service) {
            // Redirect to the respective service page based on the clicked card
            window.location.href = '/services/' + service;
        }

        function filterServices(type) {
            const searchInput = document.getElementById(type + 'Search');
            const cards = document.querySelectorAll('.' + type + ' .card');

            const searchText = searchInput.value.toLowerCase();

            cards.forEach(function(card) {
                const cardText = card.querySelector('h3').textContent.toLowerCase();
                if (cardText.includes(searchText)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        }
    </script>
  
  <%- include('partials/footer') %>
</body>